<h1>Work Out of the Day</h1><br /><br />



<% @wods.each do |wod| %>

<h3>Work Out | <%= wod.created_at %></h3><br />

    <p><b>Work Out: </b></p>
	<p> <%= wod.work_out %></p><br />
    <p><b>Description/Details: </b></p>
	<p>	<%= wod.description %></p>
	
	  <% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
    <%= link_to 'Show', wod %>
    <%= link_to 'Edit', edit_wod_path(wod) %>
   <%= link_to 'Destroy', wod, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>
<% end %>


<br />
<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
<%= link_to 'New Work Out', new_wod_path %>
<% end %>
<% end %>