<p id="notice"><%= notice %></p>

<p>
  <b>Work out:</b>
  <%=h @wod.work_out.html_safe %>
</p>

<p>
  <b>Comments:</b>
  <%=h @wod.description.html_safe %>
</p>


<%= link_to 'Edit', edit_wod_path(@wod) %> |
<%= link_to 'Back', wods_path %>
