<p id="notice"><%= notice %></p>

<p>
  <b>Work out:</b>
  <%= @wod.work_out %>
</p>

<p>
  <b>Comments:</b>
  <%= @wod.comments %>
</p>


<%= link_to 'Edit', edit_wod_path(@wod) %> |
<%= link_to 'Back', wods_path %>
