<%= form_for @race, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :race_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :race_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:type, [['Triathlon', 1],['Road Running', 2],['Trail Running',2],['Fun Run','Fun Run'],['Obstacle Race','Obstacle Race'],['Duathlon','Duathlon']],{ :prompt => "Choose a Race Type"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :distance, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:distance, [['1k', '1k'],['5k', '5k'],['10k','10k'],['1k, 5k, & 10k','1k, 5k, & 10k'],['1-5 Mile','1-5 Mile'],['5-10 Mile','5-10 Mile'],['10-15 Mile', '10-15 Mile'],['Marathon/Half Marathon','Marathon/Half Marathon'],['Sprint','Sprint'],['Olympic','Olympic'],['Ironman','Ironman'],['Ultra Marathon', 'Ultra Marathon']],{ :prompt => "Choose a Distance"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                races_path, :class => 'btn' %>
  </div>
<% end %>
