<%- model_class = Race -%>
<header>
		<h1><center>Texas Race finder</center></h1><br />
		<p>
		Your one stop shop to find everything you need for running, racing, and living healthy in Texas.  Build communities,  talk to experts about your upcoming events, and share your goals with others.  
		</p><br />
		<p>
		Rate races you have participated in, and follow others to find the best races for you.
		</p><br /><br />
</header>

    <% @races.each do |race| %>

     <p> <%= race.date %> | <%= link_to race.race_name, race_path(race) %></p> 
       
        <p><b>Race Location: </b> <%= race.location %></p>
   		<p><b>Race Type: </b> <%= race.distance %></p>
        <%= race.website %>


          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_race_path(race), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      race_path(race),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

    <% end %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_race_path,
            :class => 'btn btn-primary' %>
