
<div class="page-header">
  <h1>Running Blog</h1>
</div>
<h3><center><%= @post.title %></center></h3></br />
<p>	<%= @post.message %> </p>


		  <% if user_signed_in? %>
			<% if current_user.has_role? :admin %>
          <%= link_to "Edit", edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to "Delete", post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
<% end %>
<% end %>
<% end %>

  </tbody>
</table>
<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>

<% end %>
<% end %>
